<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"
              type="text/css"
              href="{{ url_for("static", filename="css/style.css") }}">
    </head>
    <body>
        <nav class="navbar">
            <ul class="left">
                <li><a href="/" class="name">Home</a></li>
            </ul>
            <ul class="right">
                <li><a href="registermember">+ Member</a></li>
            </ul>
            <ul class="right">
                <li><a href="registercollege">+ College</a></li>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>